body{
	/*background: #a6d4f3;
	background: url('../img/paper.jpg');
	background-size:100%;
	background-repeat:no-repeat;*/
	/*background-color: #E6FFFF;*/
	background: white;
	margin: 0;
}
.navbar{
	font-family: 'Rancho', 'Amatic SC', cursive;
	/*background: #A3FFA3;*/
	background-color: #F7F7F7;*/
	text-align: center;
	height: 150px;
	margin-bottom: 50px;
	/*border-top: 10px solid black;
	border-bottom: 10px solid black;*/
	border-bottom: 1px solid #ccc;
	background-color: #F7F7F7;
	position: relative;
}
ul{
	max-width: 900px;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 0px;
	list-style: none;
}
.head{
	list-style: none;
	text-align: center;
	font-size: 120px;
	font-weight: 600;
	line-height: 150px;
}
.home, .about{
	font-size: 50px;
	line-height: 150px;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}
.home:hover, .about:hover{
	opacity: 0.5;
}
.home a{
	float:left;
}
.about a{
	float:right;
}
a:link{
	color: #000000;
	text-decoration:none;
}
a:visited{
 	color: #000000; 
 	text-decoration: none;
}
hr{
	max-width: 900px;
}
.container{
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: white;
}
.canvas_wrapper{
	width: 880px;
	height: 880px;
	border: 10px dotted black;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 60px;
	float: left;
}
.cursor{
	display: none;
	width: 0px;
	height: 0px;
	border: 5px solid;
	border-radius: 999px;
	color: black;
	position: relative;
	pointer-events:none;
	margin-top: -10px;
}
canvas{
	padding-left: 0;
    padding-right: 0;
	margin-right: auto;
	margin-left: auto;
	clear: both;

	background-color: white;
	display:none;
}
.canvasImg{
 	display: block;
	margin-left: auto;
	margin-right: auto;
}
.doodle{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	display: block;
}
.top_buttons{
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.top_buttons>button{
	font-family: 'Rancho', 'Amatic SC', cursive;
	/*background: #A3FFA3;*/
	background: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 0px;
	text-align: center;
	font-size: 40px;
	transition-duration: .25s;
}
.draw_button,.submit_button,.download_button{
	display: block;
	width: 100%;
	float:left;
	height: 90px;
	line-height: 70px;
	border: 10px solid black;
}
.submit_button, .download_button, .minus_button,.plus_button,.radius_display{
	display: none;
	width: 47.5%;
	margin-top: 30px;
	margin-bottom: 30px;
	clear: none;
}
.submit_button{
	float:left;
}
.download_button{
	float:right;
}
.draw_button:hover, .submit_button:hover, .download_button:hover{
	background: #a6d4f3;
}
.minus_button,.plus_button,.radius_display{
	width:50px;
	height:50px;
	float: left;
	margin-top: 0;
	clear: none;
	text-align: center;
	font-size: 40px;
	line-height: 20px;
	font-family: 'Rancho', 'Amatic SC', cursive;
}
.minus_button,.plus_button{
	border:5px solid black;
}
.radius_display{
	width: 75px;
	line-height: 50px;
}
.color_select{
	display: none;
	clear: both;
}
.color_select li{
	float:left;
	margin-right: 66.5px;
}
.color_select li button{
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #ccc;
}
.color_select span li{
	margin-right: 0px;
}
.black{background-color: black;}
.white{background-color: white;}
.red{background-color: red;}
.orange{background-color: orange;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.blue{background-color: blue;}
.cyan{background-color: #00FFFF;}
.purple{background-color: #800080;}
.magenta{background-color: #FF00FF;}

/***************************************************************************/
.about_section{
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 60px;
	display: block;
	max-width: 900px;
	font-family: 'Rancho', 'Amatic SC', cursive;
}
.about_header{
	font-size: 103px;
}
.about_text{
	font-size: 35px;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Gudea', sans-serif;*/
	font-weight: 500;
}
.about_text span{
	font-size: 13px;
	vertical-align: sub;	
}
.about_credit{
	margin-top: 100px;
	font-size: 20px;
	margin-bottom: 0;
}
.about_credit a{
	font-size: 30px;
	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}
.about_credit a:hover{
	opacity: 0.5;
}