body{
	/*background: #a6d4f3;*/
	background: url('../img/paper.jpg');
	background-size:100%;
	background-repeat:no-repeat;*/
	/*background-color: #E6FFFF;*/
}

.navbar{
	font-family: 'Rancho', 'Amatic SC', cursive;
	/*background: #A3FFA3;*/
	background: white;*/
	text-align: center;
	height: 115px;
	margin-bottom: 50px;
}

ul{
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 0px;
}

.home, .about{
	list-style: none;
	font-size: 50px;
	line-height: 115px;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

.home:hover, .about:hover{opacity: 0.5;}

.home a{float:left;}
.about a{float:right;}

.head{
	list-style: none;
	text-align: center;
	font-size: 60px;
}

a:link{
	color: #000000;
	text-decoration:none;
}
a:visited{
 	color: #000000; 
 	text-decoration: none;
}

canvas{
	padding-left: 0;
    padding-right: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	display: block;

	background-color: white;


	display:none;
}

 #canvasImg{
	background-color: white;
 	display: none;
	margin-left: auto;
	margin-right: auto;
 }

.doodle{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	display: block;
}

.draw_button,.submit_button{
	font-family: 'Rancho', 'Amatic SC', cursive;
	/*background: #A3FFA3;*/
	background: white;
	width: 700px;
	height: 70px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;

	text-align: center;
	line-height: 70px;
	font-size: 40px;

	border: none;

	transition-duration: .25s;
}
.draw_button:hover, .submit_button:hover{
	background: #a6d4f3;
}

.submit_button{
	display: none;
}

.about_section{
	margin-left: auto;
	margin-right:auto;
	display: block;
	max-width: 700px;
	font-family: 'Rancho', 'Amatic SC', cursive;
}
.about_header{
	font-size: 79px;
}

.about_text{
	font-size: 35px;

	font-family: 'Gudea','Rancho', cursive;
}

.about_credit{
	margin-top: 100px;
	font-size: 25px;
}
.about_credit a{
	font-size: 35px;
	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}
.about_credit a:hover{
	opacity: 0.5;
}