body{
	/*background: #a6d4f3;
	background: url('../img/paper.jpg');
	background-size:100%;
	background-repeat:no-repeat;*/
	/*background-color: #E6FFFF;*/
	background: white;
	margin: 0;
}
.navbar,.about_navbar{
	font-family: 'Rancho', 'Amatic SC', cursive;
	text-align: center;
	height: 150px;
	margin-bottom: 50px;
	border-bottom: 1px solid #ccc;
	background-color: #F7F7F7;
	position: relative;
}
ul{
	max-width: 900px;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 0px;
	list-style: none;
}
.head{
	list-style: none;
	text-align: center;
	font-size: 120px;
	font-weight: 600;
	line-height: 150px;
}
.home, .about{
	font-size: 50px;
	line-height: 150px;
   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}
.home:hover, .about:hover{
	opacity: 0.5;
}
.home a{
	float:left;
}
.about a{
	float:right;
}
a:link{
	color: #000000;
	text-decoration:none;
}
a:visited{
 	color: #000000; 
 	text-decoration: none;
}
hr{
	max-width: 900px;
}
.container{
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: white;
}
.canvas_wrapper{
	width: 880px;
	height: 880px;
	border: 10px dotted black;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 60px;
	float: left;
}
.cursor{
	display: none;
	width: 0px;
	height: 0px;
	border: 5px solid;
	border-radius: 999px;
	color: black;
	position: relative;
	pointer-events:none;
	margin-top: -10px;
}
canvas{
	padding-left: 0;
    padding-right: 0;
	margin-right: auto;
	margin-left: auto;
	clear: both;

	background-color: white;
	display:none;
}
.warning{
	width: 880px;
	height: 880px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: none;
	background-color: black;
	color: white;
	font-size: 50px;
	font-family: 'Rancho', 'Amatic SC', cursive;
}
.canvasImg{
 	display: none;
	margin-left: auto;
	margin-right: auto;
}
.doodle{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
	display: block;
}
.top_buttons{
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.top_buttons>button{
	font-family: 'Rancho', 'Amatic SC', cursive;
	padding: 0px;
	text-align: center;
	font-size: 40px;
}
.draw_button,.submit_button,.download_button{
	background: white;
	display: block;
	width: 100%;
	float:left;
	height: 90px;
	line-height: 70px;
	border: 8px solid black;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	outline: none;
	transition-duration: .25s;
}
.submit_button, .download_button, .minus_button,.plus_button,#radius_display{
	background: white;
	display: none;
	width: 47.5%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	clear: none;
	outline: none;
}
.submit_button{
	float:left;
	margin-top: 0;
}
.download_button{
	float:right;
	margin-top: 0;	
}
.draw_button:hover, .submit_button:hover, .download_button:hover,.minus_button:hover,.plus_button:hover{
	background: #a6d4f3;
}
.pencil_button,.eraser_button,.undo_button,.redo_button{
	background-repeat:no-repeat;
	border: none;
	display: none;
	width:40px;
	height:40px;
	float: left;
	margin-top: 5px;
	outline: white solid thick;
}
.pencil_button{
	background: url('../img/pencil.png');
	background-size:100%;
	margin-right: 10px;
	margin-left: 5px;
}
.eraser_button{
	background: url('../img/eraser.png');
	background-size: 100%;
	margin-right: 35px;
}
.undo_button{
	background: url('../img/undo.png');
	background-size: 100%;
	margin-left: 35px;
	margin-right: 10px;
	transition-duration: .125s;
}
.redo_button{
	background: url('../img/redo.png');
	background-size: 100%;
	transition-duration: .125s;
}
.minus_button,.plus_button,#radius_display{
	float: left;
	margin-top: 0;
	clear: none;
	text-align: center;
	font-size: 40px;
	line-height: 20px;
	font-family: 'Rancho', 'Amatic SC', cursive;
}
.minus_button,.plus_button{
	border:5px solid black;
	width:50px;
	height:50px;
	transition-duration: .25s;
}
#radius_display{
	width: 75px;
	height: 50px;
	border:none;
	padding: 0;
	outline:none;
}
.color_select{
	display: none;
	clear: none;
}
.color_select li{
	float:right;
	margin-top:10px;
	margin-left: 1.5%;
	height: 50px;
}
.color_select li button{
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #ccc;
	transition-duration: .25s;
}
.black{background-color: black;}
.blue{background-color: blue;}
.purple{background-color: #800080;}
.magenta{background-color: #FF00FF;}
.red{background-color: red;}
.brown{background-color: #964B00;}
.orange{background-color: orange;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.cyan{background-color: #00FFFF;}

/***************************************************************************/
.about_navbar{
	margin-bottom: 0;
}
.about_container{
	height: 880px;
	margin: 0;
	margin-top: -70px;
	background: url('../img/background.png');
	background-size: auto 100%;
	background-position:center bottom; 
	background-repeat:no-repeat; 
}
.about_section{
	margin-top: 120px;
	margin-left: auto;
	margin-right:auto;
	display: block;
	max-width: 900px;
	height: 880px; 

	font-family: 'Rancho', 'Amatic SC', cursive;
}
.about_header{
	font-size: 103px;
}
.about_text{
	font-size: 40px;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Gudea', sans-serif;*/
	font-weight: 500;
}
.about_text span{
	font-size: 10px;
	vertical-align: sub;	
}
.about_credit{
	margin-top: 270px;
	font-size: 20px;
	margin-bottom: 0;
}
.about_credit a{
	font-size: 30px;
	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}
.about_credit a:hover{
	opacity: 0.5;
}