<!DOCTYPE html>
<html lang="en">

	<head>
		<!--import css javascript and jquery-->
    	<link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
   		<script type="text/javascript" src="../static/js/doodle.js"></script>
    	<script type="text/javascript" src="../static/js/home.js"></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!--font-->
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
		
		<title>
			About Roodler
		</title>
	</head>

	<body>
		<nav class="navbar">
			<ul>
				<li class="home">
					<a href="/">Home</a>
				</li>
				<li class="about"> 
					<a href="/about">About</a>
				</li>
				<li class="head" >
					<h1>Roodler<h1>
				</li>
			</ul>
		</nav>

		<div class="about_section">
			<h1 class="about_header">Random + Doodle = Roodler</h1>
			<p class="about_text">
				Roodler is a web application that allows you to see and post doodles on the internet. Each time someone loads the website they are presented with a new doodle that is viewable only once. The user then has the option to make a new doodle to replace the old one. Roodler lets you make a drawing for whoever opens Roodler next!
			</p>
			<p class="about_text">
				Basically, think Snapchat, Chatroulette, and Draw My Thing combined. <span>similarly, user discretion is advised</span>
			</p>

			<p class="about_credit">
				Roodler was made by Bernard Wang and Joe Higgs <br>
				Source code on <a class="roodler_source" href="https://github.com/bw-vbnm/cs-125-honors-project" target="_blank"> Github </a>
			</p>
		</div>
	</body>
</html>