<!DOCTYPE html>
<html lang="en">

	<head>
		<!--import css javascript and jquery-->
    	<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
   		<script type="text/javascript" src="../static/js/doodle.js"></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!--font-->
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>

		<title>
			About Roodler
		</title>
	</head>

	<body>
		<nav class="about_navbar">
			<ul>
				<li class="home">
					<a href="/">Home</a>
				</li>
				<li class="about">
					<a href="/about">About</a>
				</li>
				<li class="head" >
					Roodler
				</li>
			</ul>
		</nav>

		<div class="about_container">
			<div class="about_section">
				<h1 class="about_header">Random + Doodle = Roodler</h1>
				<p class="about_text">
					Roodler lets you see and post doodles on the Internet. Each time someone loads this website, they are presented with the most recently submitted doodle. The user then has the option to submit a new drawing and discard the old one. Roodler lets you make a random doodle for whoever opens Roodler next!
				</p>
				<p class="about_text">
					Think Snapchat, Chatroulette, and MS Paint combined! <span>on that note, user discretion is advised</span>
				</p>

				<h3 class="about_credit">
					Made by Bernard Wang and Joe Higgs <br>
					Source code on <a class="roodler_source" href="https://github.com/bw-vbnm/cs-125-honors-project" target="_blank"> Github </a>
				</h3>
			</div>
		</div>
	</body>
</html>