<!DOCTYPE html>
<html lang="en">

  <head>
    <!--import css javascript and jquery-->
    <link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
    <script type="text/javascript" src="../static/js/doodle.js"></script>
    <script type="text/javascript" src="../static/js/home.js"></script>

    <script type="text/javascript" src="../static/js/base64.js"></script>
    <script type="text/javascript" src="../static/js/canvas2image.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!--font-->
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Gudea" rel="stylesheet" type="text/css">
    
    <title>
      Roodler
    </title>
  </head>

  <body onload="init()">
    <nav class="navbar">
      <ul>
        <li class="home">
          <a href="/">Home</a>
        </li>
        <li class="about"> 
          <a href="/about">About</a>
        </li>
        <li class="head">
          <h1>Roodler<h1>
        </li>
      </ul>
    </nav>

    <button class="draw_button" type="button" onclick="drawButton()"> Draw a Doodle! </button>
    <button class="submit_button" type="button" onclick="submitButton()"> Submit Doodle </button>

    <div id="container">

      {% block content %}
      {% endblock %}
      
      <canvas id="canvas" width="700" height="700">
        <p>
            Unfortunately, your browser is currently unsupported by our web 
            application.  We are sorry for the inconvenience. Please use one of the 
            supported browsers listed below, or draw the image you want using an 
            offline tool.
        </p>
      </canvas>
      
      <div>
        <img id="canvasImg"> </img>
      </div>

    </div>

  </body>
</html>