<!DOCTYPE html>
<html lang="en">

  <head>
    <!--import css javascript and jquery-->
    <link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
    <script type="text/javascript" src="../static/js/doodle.js"></script>

    <script type="text/javascript" src="../static/js/base64.js"></script>
    <script type="text/javascript" src="../static/js/canvas2image.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!--font-->
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
    
    <title>
      Roodler
    </title>
  </head>

  <body onload="init()">
    <div class="navbar">
      <ul>
        <li class="home">
          <a href="/">Home</a>
        </li>
        <li class="about"> 
          <a href="/about">About</a>
        </li>
        <li class="head">
          Roodler
        </li>
      </ul>
    </div>

    <div class="container">
      <!--{% block content %}
      {% endblock %}-->

      <div class="top_buttons">
        <button class="draw_button" type="button" onclick="drawButton()"> Draw a Doodle! </button>
        <button class="submit_button" type="button" onclick="submitButton()"> Submit </button>
        <button class="download_button" type="button" onclick="downloadButton()"> Download </button>

        <button class="pencil_button" type="button" onclick="pencilButton()"> </button>
        <button class="eraser_button" type="button" onclick="eraserButton()"> </button>

        <button class="minus_button" type="button" onclick="minusButton()"> - </button>
        <div class="radius_display">10</div>
        <button class="plus_button" type="button" onclick="plusButton()"> + </button>

        <button class="undo_button" type="button" onclick="undoButton()"> </button>

        <ul class="color_select">
          <li> <button class="black" type="button" onclick="black()"> </button> </li>
          <li> <button class="blue" type="button" onclick="blue()"> </button> </li>
          <li> <button class="purple" type="button" onclick="purple()"> </button> </li>
          <li> <button class="magenta" type="button" onclick="magenta()"> </button> </li>
          <li> <button class="red" type="button" onclick="red()"> </button> </li>
          <li> <button class="brown" type="button" onclick="brown()"> </button> </li>
          <li> <button class="orange" type="button" onclick="orange()"> </button> </li>
          <li> <button class="yellow" type="button" onclick="yellow()"> </button> </li>
          <li> <button class="green" type="button" onclick="green()"> </button> </li>
          <span> <li> <button class="cyan" type="button" onclick="cyan()"> </button> </li> </span>
        </ul>

      </div>

      <div class="canvas_wrapper">
        <div class="cursor"></div>
        <canvas id="canvas" width="880" height="880">
          <p>
            Unfortunately, your browser is currently unsupported by our web 
            application.  We are sorry for the inconvenience. Please use one of the 
            supported browsers listed below, or draw the image you want using an 
            offline tool.
          </p>
        </canvas>

        <button class="warning" type="button" onclick="warning()">Click here to view doodle<br>Warning: User discretion is advised</button>
        <img class="canvasImg" src="../static/img/doodle.png" width="880px" height="880px"/>
      </div>  
    </div>

  </body>
</html>